# Unity-specific
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / Rider
.vs/
.vscode/
*.user
*.userprefs
*.suo
*.sln.docstates

# macOS
.DS_Store

# Thumbnails
*.thumb